<%= form_with(model: author, local: true, html: { multipart: true }) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(author.errors.count, "error") %> prevented from saving changes:</h2>
      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_birth, "Date of birth", class: 'form-label' %>
    <%= form.date_field :date_of_birth, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :country_of_origin, "Country of Origin", class: 'form-label' %>
    <%= form.text_field :country_of_origin, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :short_description, "Description", class: 'form-label' %>
    <%= form.text_area :short_description, class: 'form-control', rows: 5 %>
  </div>

  <div class="mb-3">
    <%= form.label :photo, "Photo", class: 'form-label' %>
    <%= form.file_field :photo, class: 'form-control' %>
    <% if author.photo.attached? %>
      <div class="mt-2">
        <%= image_tag author.photo, class: "img-thumbnail" %>
      </div>
    <% end %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit 'Save Changes', class: 'btn btn-primary' %>
    <%= link_to 'Volver', authors_path, class: 'btn btn-secondary' %>
  </div>
<% end %>