<div class="container my-5">
  <h1 class="mb-4">Top 10 Rated Books</h1>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Most popular review</th>
        <th>Highest Rated Review</th>
        <th>Lowest Rated Review</th>
      </tr>
    </thead>
    <tbody>
      <% @top_books.each_with_index do |item, idx| %>
        <% book = item[:book] %>
        <% highest_rated_review = item[:highest_rated_review] %>
        <% lowest_rated_review = item[:lowest_rated_review] %>
        <tr>
          <td><%= idx + 1 %></td>
          <td><%= book.name %></td>
          <td>
            <% if highest_rated_review.present? %>
              <%= truncate(highest_rated_review.review, length: 50) %><strong>|<%= highest_rated_review.number_of_up_votes %>♥</strong>
            <% else %>
              No reviews
            <% end %>
          </td>
          <td>
            <% if highest_rated_review.present? %>
              <strong><%= highest_rated_review.score %>★</strong>: <%= truncate(highest_rated_review.review, length: 50) %>
            <% else %>
              No reviews
            <% end %>
          </td>
          <td>
            <% if lowest_rated_review.present? %>
              <strong><%= lowest_rated_review.score %>★</strong>: <%= truncate(lowest_rated_review.review, length: 50) %>
            <% else %>
              No reviews
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>